@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded");

/* HEADER */

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  padding: 1.7rem 4rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.searchInput {
  position: relative;
}

.search {
  position: absolute;
  top: 0.46rem;
  right: 1rem;
  font-size: 1.4rem;
}

input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 20px;
  outline: none;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  min-height: 2.2rem;
}

.left {
  display: flex;
  gap: 2.5rem;
}

.menu {
  padding: 0.1rem 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1.5px solid #dbdbdb;
}

.cart,
.forum {
  transform: translateY(0.3rem);
}

/* main content */

.Header {
  flex: 0 1 auto;
}

.Main {
  flex: 1;
  display: flex;
  align-items: center;
}

.main-left {
  flex: 3;
  height: 300px;
}

.main-right {
  flex: 7;
}
